body {
  background-color: : #000000;
  color: #0000FF;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
h1 {
  font-size: 2em;
  font-family: Helvetica, serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  color: black;
}

h3 {
  font-size: 1em;
  font-family: serif, sans-serif;
  line-height: 1.2;
  color: black;
}

.author {
  font-size: 1em;
  font-family: serif;
  line-height: 1.2;
  color: black;
}
p {
  font-size: 1em;
  font-family: serif, sans-serif;
  text-align:justify;
  color: black;
  line-height: 1.5em;
}

figure {
  font-size: 0.75em;
  font-family: serif, sans-serif;
  font-style:italic;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:#0070BC;
} /* mouse over*/

a:visited {
  color: #0070BC;
} /* visited */

a:active { color:#0070BD;
} /* select */
